@import '../../shared-stylings/base.scss';

.header {
    background-color: #0f0f0f;
    box-shadow: $card-backdrop;
    font-family: $primary-font;
    color: white;
    line-height: 70px;
    max-height: 70px;

    .label {
        font-weight: 100;
        font-size: 2.0rem;
        margin-left: 20px;
    }
}