@import '../../shared-stylings/base.scss';

.dashboard-item-container {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 20px;
    font-family: $primary-font;
    vertical-align: middle;
    margin-top: 10px;

    .title-container {
        font-size: 1.25rem;
    }

    .body-container {
        margin-top: 10px;
    }
}