@import './shared-stylings/base.scss';

.app-container {
    height: 100%;
}

.row {
    display: flex;
    height: calc(100% - 50px);
    justify-content: center;
}

.column {
    background-color: $card-background;
    box-shadow: $card-backdrop;
}

.app-container {
    height: 100%;
}

body {
    background-color: $primary-background;
    height: 100%;
}

.content {
    display: flex;
    width: 1500px;

    .column {
        width: 100%;
    }

    .left-column {
        max-width: 200px;

        margin: {
            left: 15px;
            right: 15px;
            top: 15px;
            bottom: 15px;
        }
    }

    .right-column {
        overflow-y: scroll;
        margin: {
            left: 0px;
            right: 15px;
            top: 15px;
            bottom: 15px;
        }
    }
}