// Typography
$primary-font: Helvetica, sans-serif;

// Colors
$primary-background: #f0f0f0;
$card-background: white;

$primary-color: lightgreen;

// Shadowing
$card-backdrop: 0px 0px 5px 1px lightgrey;